$pagebg: #c3cfe2;
$textbg: #fff;
$purplebg: #686de0;
$dark: #2f2f2f;
$imgsize: 180px;
$imgpadding: 7px;
$imgtotal: $imgsize + 2 * $imgpadding;
$border: 20px;
$tileborder: 10px;
$shadow: 5px;
$width: 600px;
$padding: 50px;
$padding-bottom: 20px;
$btnheight: 40px;
$btnwidth: 300px;
$btnbottom: 100px;
$iconwidth: 60px;